<ul class="nav nav-tabs flex-wrap mb-4" aria-label="Blacklist sections">
    <li class="nav-item">
        <a class="nav-link{% if blacklist_section == 'ips' %} active{% endif %}" href="{% url 'kaixin:blacklist' %}">Blocked IPs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if blacklist_section == 'limits' %} active{% endif %}" href="{% url 'kaixin:blacklist_limits' %}">Request Limits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if blacklist_section == 'login' %} active{% endif %}" href="{% url 'kaixin:blacklist_login' %}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if blacklist_section == 'mybox' %} active{% endif %}" href="{% url 'kaixin:blacklist_mybox' %}">MYBOX</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if blacklist_section == 'bots' %} active{% endif %}" href="{% url 'kaixin:blacklist_bots' %}">Bots</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if blacklist_section == 'unknown' %} active{% endif %}" href="{% url 'kaixin:blacklist_unknown' %}">Unknown</a>
    </li>
</ul>
